#mockup{
	position:absolute;
}
#background {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48194d+0,922281+53,802a74+99 */
background: #48194d; /* Old browsers */
background: -moz-linear-gradient(top,  #511f4e 0%, #aa2584 47%, #802a74 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #511f4e 0%,#aa2584 47%,#802a74 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #511f4e 0%,#aa2584 47%,#802a74 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48194d', endColorstr='#802a74',GradientType=0 ); /* IE6-9 */

width:300px;
height:600px;
position:absolute;


}
.mockupContainer{
	left: 968px;
	top: 334px;
}
#container_dc{
	width:158px;
	height:598px;
	position: absolute;
	border:1px black solid;
	overflow: hidden;	
    opacity:0;
	
}

#hotspot{
	width:160px;
	height:600px;
	position: absolute;
	top:0;
	left:0;
	cursor:pointer;
    z-index:11;
}
#box{
	background-size:contain;
	background-repeat: no-repeat;
	left: 171px;
  top: 87px;
  width: 87px;
  height: 132px;	
	position: absolute;
	
}
#bar{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#44194a+0,5d2c5d+99 */
background: #44194a; /* Old browsers */
background: -moz-linear-gradient(top, #4d1e4b 0%, #692d5f 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #44d1e4b4194a 0%,#692d5f 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #4d1e4b 0%,#692d5f 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44194a', endColorstr='#5d2c5d',GradientType=0 ); /* IE6-9 */
  position: absolute;
  left: 0px;
  top: 329px;
  width: 160px;
  height: 300px;
  z-index: 4;
}

#girl1{

  background-image: url("img/girl1.png");
  position: absolute;
left:10px;
  top: 12px;
  width: 232px;
  height: 290px;
  z-index: 3;


}
#people1{

  background-image: url("img/people2.png");
  position: absolute;
    lefT:0px;
  top: 30px;
  width: 160px;
  height: 276px;
  z-index: 3;


}
#people2{

  background-image: url("img/people1.png");
  position: absolute;
left:-50px;
    top: 10px;
  width: 261px;
  height: 510px;
  z-index: 3;


}
#people3{

  background-image: url("img/people3.png");
  position: absolute;
    left:0px;
  
  top: 10px;
  width:160px;
  height: 304px;
  z-index: 3;


}
#people4{

  background-image: url("img/people4.png");
  position: absolute;
left:4px;
  top: 40px;
  width:156px;
  height: 275px;
  z-index: 3;


}
#logo{
	background-image: url(img/logo.svg);
  position: absolute;
 left: 16px;
    top: 531px;
    width: 127px;
    height: 55px;
	background-size: contain;
    background-repeat: no-repeat;
    z-index: 5;
}

#text1{
  background-image: url(img/text1.png);
  position: absolute;
 	 left: 15px;
  top: 327px;
  width: 132px;
  height: 112px;
    z-index: 5;
}
#text2{
  background-image: url(img/text2.png);
  position: absolute;
 	 left: 18px;
  top: 385px;
  width: 124px;
  height: 36px;
    z-index: 8;
}
#text3{
  background-image: url(img/text3.png);
  position: absolute;
 	 left: 18px;
  top: 385px;
  width: 133px;
  height: 36px;
    z-index: 8;
}
#text4{
  background-image: url(img/text4.png);
  position: absolute;
 	 left: 18px;
  top: 385px;
  width: 137px;
  height: 36px;
    z-index: 8;
}
#text5{
  background-image: url(img/text5.png);
  position: absolute;
 	 left: 10px;
  top: 385px;
  width: 143px;
  height: 34px;
    z-index: 8;
    background-size: contain;
    background-repeat: no-repeat;
}
#cta{
  background-color: rgb(245, 220, 51);
  left: 15px;
    top: 462px;
    width: 128px;
    height:32px;
    position: absolute;
  z-index: 6;
    overflow: hidden;
}

.ctaTxt{
    left:11px;
    top:10px;
    position: absolute;
}
.icon {
  background-image: url("icon.png");
  position: absolute;
  left:62px;
    top:328px;
  width: 41px;
  height: 46px;
  z-index: 21;
}

#icon1{
    z-index: 8;
     width: 35px;
  height: 32px;
    left:60px;
    top:326px;
    position: absolute; 
}
#icon2{
    z-index: 8;
     width: 30px;
  height: 32px;
    left:62px;
    top:328px;
    position: absolute; 
}
#icon3{
    z-index: 8;
     width: 40px;
  height: 32px;
    left:62px;
    top:328px;
    position: absolute; 
}
#icon4{
   

  position: absolute;
  
     left:62px;
    top: 320px;
    width: 27px;
    height: 57px;
    z-index: 9;
}